@import './sass/Variables.scss';

@mixin title-xxl{
    color: $color-text-title-functional;
    font-family: $font-type-title;
    font-weight: 700;
    font-size: $font-xxl;
}
@mixin title-xl{
    color: $color-text-primary;
    font-family: $font-type-title;
    font-weight: 700;
    font-size: $font-xl;
}
@mixin title-lg{
    color: $color-text-primary;
    font-family: $font-type-title;
    font-weight: 700;
    font-size: $font-md;
}
@mixin title-md{
    color: $color-text-functional-light;
    font-family: $font-type-title;
    font-weight: 700;
    font-size: $font-md;
}
@mixin title-sm{
    color: $color-text-tertiary;
    font-family: $font-type-title;
    font-weight: 700;
    font-size: $font-sm;
}
@mixin text-default{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: $font-sm;
    color: $color-text-secondary;
}
@mixin title-card{
    @include title-md;
    color: $color-text-functional-light;
}
@mixin title-modal{
    color: $color-text-primary;
    font-family: $font-type-title;
    font-weight: 700;
    font-size: $font-title-modal;
}
@mixin subtitle-modal{
    color: $color-text-primary;
    font-family: $font-type-title;
    font-weight: 700;
    font-size: $font-subtitle-modal;
}
@mixin text-modal{
    font-family: $font-type-text;
    font-weight: 500;
    font-size: $font-text-modal;
    color: $color-text-modal;
}
@mixin text-tooltip{
    font-family: $font-type-text;
    font-weight: 500;
    font-size: 12px;
    color: $color-text-display;
}