@import '../Sass/mixins';
@import '../Sass/variables';

.window{
    @include window-content;
    @include scroll-bar;
    height: $height-window-content;
    p{
        color: $color-primary;
        font-family: $font-family-primary;
        font-size: 24px;
    }
}

.window::-webkit-scrollbar{
}