@import '../Sass/mixins';
@import '../Sass/variables';

.container{
    height: calc($height-window-content - 14px);
    @media screen and (max-width: 500px) {
        height: calc(100% - 76px);
    }
}

.window{
    box-sizing: border-box;
    @include window-content;
    background-color: #F3ECE2;
    overflow-y: auto;
    margin-top: 2px;
    padding: 8px;
    height:  calc(100% - 53px);
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;

 }

 .download{
    display: grid;
    place-items: center;
    box-sizing: border-box;
    margin-top: 5px;
    button{
        background-color: #B4B3BD;
        padding: 8px;
    }
    a{
        text-decoration: none;
        color: $color-primary;
        font-family: $font-family-secondary;
        font-weight: 600;
        font-size: 24px;
    }
 }

.content{
    width: 100%;

    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 22px;
    }
    li{
        margin-left: 14px;
    }
    ul{
        li{
            margin-left: 0px;
        }
    }
    strong{
        color: #423F53;
    }
}

 .title{
    color: $color-primary;
    font-family: $font-family-primary;
 }

 .subtitle{
    color: #423F53;
    font-family: $font-family-primary;
    margin-top: 2px;
 }

 .paragraph{
    color: #423F53;
    font-family: $font-family-primary;
    font-size: 18px;
 }

 .list{
    width: 100%;
    display: flex;
    gap: 22px;
    margin-top: 6px;
    div:nth-child(1){
        width: 45%;
    }
 }