@import '../Sass/mixins';
@import '../Sass/variables';

.contact{
    display: flex;
    gap: 8px;
    height: calc($height-window-content - 12px);
    form{
        @include background-container-select;
        border-radius: 2px;
        padding: 10px 8px;
        background-color: #B4B3BD;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    button{
        height: 34px;
        align-self: flex-start;
        span{
            font-family: $font-family-primary;
            font-size: 18px;
        }
    }
    @media screen and (max-width: 500px) {
        flex-direction: column;
        height: calc(100% - 22px);
        overflow: auto;
        align-items: center;
        form{
            width: 100%;
        }
    }
}

.label{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    input, textarea{
        @include background-container-select;
        height: 26px;
        font-size: 18px;
        padding-left: 4px;
        font-family: $font-family-primary;
    }
    input:focus-visible, textarea:focus-visible{
        outline: none;
    }
    textarea{
        height: 100px;
    }
    label{
        font-family: $font-family-primary;
        color: $color-primary;
        font-size: 28px;
    }
}

.network{
    display: flex;
    flex-direction: column;
    gap: 24px;
    a, span{
        font-size: 18px;
        font-family: $font-family-primary;
        color: #1410D1;
    }
}

.link{
    display: flex;
    align-items: center;
    gap: 4px;
    svg{
        width: 28px;
    }
}