@import '../Sass/mixins';
@import '../Sass/variables';

.window{
    position: absolute;
    top: 100px;
    left: 500px;
    @include background-container;
    height: 300px;
    width: 500px;
    z-index: $z-index-window;
}