@import '../Sass/mixins';
@import '../Sass/variables';

.window{
    position: absolute;
    top: 10vh;
    left: 25vw;
    height: 360px;
    width: 700px;
    @include background-default;
    display: flex;
    flex-direction: column;
    z-index: $z-index-window;
    padding: 5px 5px 0px 5px;
    animation: openWindow 0.5s forwards;
    
    @keyframes openWindow {
        from{
            transform: scale(0) translateX(-85vw);
    
        }
        to{
            
            transform: scale(1) translateX(0);
        }
        
    }
    
   
}

.header{
    box-sizing: border-box;
    height: 22px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(106.48deg, #e071d5 1.33%, #5359ca 98.15%);
    padding: 2px;
    cursor:move;
    -webkit-user-drag:element;
    
}
.containerBtn{
    display: flex;
    align-items: center;
    height: 18px;
    button{
        height: 100%;
        box-sizing: border-box;
        border-radius: 0.5px;
        width: 20px;
        margin-right: 2px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include background-default;
        &:nth-child(1){
            svg{
                
            align-self: flex-end;
            }
        }
        svg{
            width: 100%;
            height: auto;
        }
    }
}
.containerSpan{
    display: flex;
    height: 80%;
    align-items: center;
    div{
        height: 100%;
        margin-right: 4px;
        margin-left: 2px;
    }
    span{
    font-family: 'VT323';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.035em;
    color: $color-secondary ;
    }
    img{
        height: 100%;
        width: auto;
    }
}
.title{
    font-family: $font-family-tertiary;
    color: $color-primary;
    font-size: 1.75rem;
}

.center{
    width: 100%;
    text-align: center;
}
.start{
    width: 100%;
}

.resize{
    align-self: flex-end;
    position: relative;
    margin-top: 2px;
    height: 12px;
    width: 12px;
    top: 0;
    left: 0;
    svg{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    cursor:nw-resize;
}