@import '../Sass/mixins';
@import '../Sass/variables';

.window{
   box-sizing: border-box;
   @include window-content;
   overflow-y: auto;
   margin-top: 2px;
   padding: 8px;
   height: calc($height-window-content - 12px);
   display: flex;
   gap:8px 6px;
   flex-wrap: wrap;
   div{
      height: 110px;
      width: 90px;
   }
   @media screen and (max-width: 500px) {
      height: calc(100% - 22px);
   }
}