@import '../Sass/mixins';
@import '../Sass/variables';

.window{
   box-sizing: border-box;
   @include window-content;
   overflow-y: auto;
   margin-top: 2px;
   padding: 8px;
   min-height: $height-window-content;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-auto-rows: 110px;
   gap:4px;
   align-items: start;
}