@import '../../Sass/mixins';
@import '../../Sass/variables';

.container{
    position: absolute;
    bottom: 35px;
    right: 0;
    height: 100px;
    width: 300px;
    @include background-default;
    flex-direction: column;
    z-index: $z-index-window;
    padding: .5rem 1rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    display: flex; 
    opacity: .5;
    &:hover{
        opacity: 1;
    }
   
    p, h3, a{
        font-family: $font-family-primary;
        
    }
    h3{
        color: $color-primary;
        font-size: 1.5rem;
        font-weight: 500;
    }
    p{
        color: #403c55;
    }
    a{
        margin-left: .25rem;
        color: $color-primary;
        font-size: 1rem;
        transition: .5s;
        &:hover{
            transform: scale(1.05);
        }
    }
    
}