@import '../sass/Mixins';
@import '../sass/Variables';

.label{
    box-sizing: border-box;
    $width: calc(13rem + 4vw);
    background-color: $color-bg-label;
    padding: 20px 15px 100px 15px;
    border-radius: 0px 0px calc($width / 2) calc($width / 2);
    width: $width;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{
    background-color: grey;
    width: 100%;
    height: calc(6.55rem + 4vw);
    border-radius: $border-radius;
}

.info{
    text-align: center;
    margin: 15px 0px;
    h2, h3{
        color: $color-text-secondary ;
        font-family: $font-family-text
    }
    h2{
        font-size: 2rem;
    }
    h3{
        margin: 5px 0px;
        font-size: $font-md
    }
    h4{
        color: $color-text-tertiary;
        font-family: $font-family-title;
        font-size: $font-sm;
    }
}

.network{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    a{
        transition: 0.5s ease-in;
    }
    a:hover{
        transform: scale(1.15);
        transition: 0.5s ease-in;
    }
}

.card{
   width: calc((13rem + 4vw) - 30px);
}