@import './Sass/variables';

.main{
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 35px);
    padding: 35px;
    position: relative;
}
.grid{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    // position: relative;
    z-index: $z-index-grid;
    gap: 10px;
    > div{
        min-width: 110px;
        min-height: 90px;
        border-radius: 2px;
    }
    > div:nth-child(1){
        grid-column: 1/2;
        
    }
    > div:nth-child(3){
        grid-column: 1/2;
        
    }
    > div:nth-child(5){
        grid-column: 1/2;
        
    }
}

.windows{
    position: absolute;
    height: 95vh;
    width: 100%;
    background-color: rgba(0, 255, 55, 0.5);
    top: 0;
    left: 0;
    z-index: $z-index-base-window;
}

@media screen and (max-width: 500px){
    .main{
        padding: 15px;
    }
}