@import './Sass/variables';

.main{
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 35px);
    padding: 35px;
    position: relative;
    background: $bg-default;
    @media screen and (max-width: 500px) {
        height: 70vh;
        width: 100vw;
    }
}
.grid{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(6, 1fr);
    z-index: $z-index-grid;
    gap: 10px;
    .row{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
    }
}

.windows{
    position: absolute;
    height: 95vh;
    width: 100%;
    background-color: rgba(0, 255, 55, 0.5);
    top: 0;
    left: 0;
    z-index: $z-index-base-window;
}

@media screen and (max-width: 500px){
    .main{
        padding: 0;
    }
}